<form id="formStatus" action="/api/v1/example/create" method="post">
    <label for=""> STATUS:
        <input type="text" name="status" id="status">
    </label>
    <label for=""> DESCRIPTION:
        <input type="text" name="description" id="description">
    </label>
    <button type="submit" id="btnGuardar" class="waves-effect waves-light btn">Guardar</button>
</form>
