<form id="formStatus" action="/api/v1/example/update/<%=idStatus  %>" method="POST">
    <label for=""> STATUS:
        <input type="text" name="status" id="status" value="<%=status  %> ">
    </label>
    <label for=""> DESCRIPTION:
        <input type="text" name="description" id="description" value="<%=description %>">
    </label>
    <button type="submit" id="btnGuardar">Actualizar</button>
</form>