<form>
  <div class="style">
    <h1>Reporte Anual</h1>
  </div>
  <div class="style">
    <span>Selecciona un año</span>
  </div>
  <div class="input-field col  container">
    <select id="años" name="años" class="años_select" />
    <option selected hidden>Año</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    <option value="2025">2025</option>
    </select>
  </div>
  <div class="center-align">
    <button class="button" id="btnGenerar" type="button">Generar reporte</button>
  </div>

  <div id="grafico"></div>

  </div>

  <div id="ventana" class="ventana">
    <div>
      <i id="cerrar" class="material-icons">close</i>
      
    </div>
    <div id="grafico2"></div>
  </div>
</form>