<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../comunes/administrador/headers-component") -%>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <link rel="stylesheet" href="/assets/css/reporte.css">
    <%- include("../comunes/administrador/sidenav-component") -%>
        <main>
                        
                <%- include("../administrador/components/reporte-components") -%>
          
        </main>

    <%- include("../comunes/administrador/footer-component") -%>
    <script src="/assets/js/reporte/reporte.js"></script>
</body>

</html>