<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../comunes/components/headers-component") -%>
</head>
<body>
    <%- include("../status/components/form-component")  -%> 
    <%- include("../status/components/table-component",{records}) %>
    <%- include("../comunes/components/footer-component") -%>

    <script src="/assets/js/form.js"></script>
</body>

</html>