<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("comunes/components/headers-component") -%>
</head>

<body>
    <%- include("comunes/components/sidenav-component") -%>


    <%- include("comunes/components/footer-component") -%>
</body>

</html>