<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("comunes/administrador/headers-component") -%>
</head>

<body>
    <%- include("comunes/administrador/sidenav-component") -%>


    <%- include("comunes/administrador/footer-component") -%>
</body>

</html>