<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><i class="material-icons">person</i><a id="correoUsuario" href="#!"> <%=user.correo%> </a></li>
    <a href="/">Cerrar Sesión</a>
    <hr>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">

            <li>
                <a class="collapsible-header">Usuario<i class="material-icons">view_quilt</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/busqueda">Comprar</a></li>
                        <li><a href="/mis-boletos/view">Mis Boletos</a></li>
                    </ul>
                </div>
            </li>

        </ul>
    </li>

</ul>