<div id="formTiket" class="hice">
    <div id="a1" class="a1">
        <div class="a2">
            <h4>Nombre</h4>
            <p id="nombre">#</p>
            <h4>Origen</h4>
            <p id="origen">#</p>
            <h4>Destino</h4>
            <p id="destino">#</p>
            <div class="a21">
                <div>
                    <h4>Asiento</h4>
                    <p id="num" class="num">#</p>
                </div>
                <div>
                    <h4>Fecha</h4>
                    <p id="fecha">#</p>
                    <h4>Hora</h4>
                    <p id="hora">#</p>
                </div>
            </div>
        </div>
        <div class="a3">
            <div class="a31">
                <img src="/assets/img/codigobarras.png" alt="">
                <div>
                    <h4>No. Folio</h4>
                    <p id="numFolio">#</p>
                </div>
            </div>
            <div class="a32">
                <div>
                    <h4>Precio</h4>
                    <p id="precio">#</p>

                </div>
                <img src="/assets/img/qr.png" alt="">
            </div>
        </div>
    </div>

    <div class="botones">
        <button id="btnRegresar" type="button">Regresar</button>
        <button id="btnDescargar" type="button">Descargar Boleto</button>
    </div>
</div>