<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/loggin.css">
</head>

<body>

    <div class="form">
        <div class="form-panel one">
            <div class="form-header">
                <h1>Login</h1>
            </div>
            <form action="" method="post">
                <div class="form-content">

                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input id="correo" type="text" name="correo" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="contrasenia">Contraseña</label>
                        <input id="contrasenia" type="password" name="contrasenia" required="required" />
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnIngresar">Ingresar</button>
                    </div>

                </div>
            </form>
            <form action="/register" method="post">
                <div class="form-group">
                    <label class="form-remember">
                        <button type="submit" class="form-register">Registrarse</button>
                </div>
            </form>
        </div>

    </div>

    <script src="/assets/js/login/login.js"></script>
    <script src="/assets/js/http.js"></script>

</body>

</html>