<div id="containerAsientos" class="card mx-basic my-basic hide">
    <div class="display">

        <div class="datosAsientos">
            <div class="datosViaje">
                <h4>Datos del Viaje</h4>
                <p id="fecha_hora">Hora:</p>
                <p id="origen">Origen:</p>
                <p id="destino">Destino:</p>
            </div>

            <div class="viajePrecio">
                <div class="alinearDatos">
                    <p class="texto">Viaje</p>
                    <p class="precio" id="viajeValor"></p>
                </div>
                <div class="alinearDatos">
                    <p class="texto">Subtotal</p>
                    <p class="precio" id="subtotalValor"></p>
                </div>
                <div class="alinearDatos">
                    <p class="texto">IVA</p>
                    <p class="precio" id="ivaValor"></p>
                </div>
            </div>

            <div class="viajePrecioTotal">
                <div class="alinearDatos">
                    <p class="texto">Total:</p>
                    <p class="precio" id="precioFinal"></p>
                </div>
                <div class="alinearDatos">
                    <p class="textoDato" id="origen">Precios incluyen IVA</p>
                </div>
            </div>
            <div class="pago">
                <button id="btnProcederPagar">Proceder a Pagar</button>
            </div>
        </div>


        <div class="seat-selection">
            <ol class="seat-rows">
                <div id="formAsientos">

                    <!-- Fila 1 -->
                    <li class="seat-row">
                        <ol class="display__flex flex-justify__center">

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--02">
                                    <span>
                                        <img id="img--02" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--02" class="seat-num">02</label>
                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--08">
                                    <span>

                                    </span>

                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--07">
                                    <span>
                                        <img id="img--07" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--07" class="seat-num">07</label>
                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--10">
                                    <span>
                                        <img id="img--10" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--10" class="seat-num">10</label>
                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--14">
                                    <span>
                                        <img id="img--14" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--14" class="seat-num">14</label>
                                </div>
                            </li>

                        </ol>
                    </li>

                    <!-- Fila 2 -->
                    <li class="seat-row">
                        <ol class="display__flex flex-justify__center">

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--01">
                                    <span>
                                        <img id="img--01" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--01" class="seat-num">01</label>
                                </div>
                            </li>

                            <li class="seat"></li>
                            <li class="seat"></li>
                            <li class="seat"></li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--13">
                                    <span>
                                        <img id="img--13" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--13" class="seat-num">13</label>
                                </div>
                            </li>

                        </ol>
                    </li>

                    <!-- Fila 3 -->
                    <li class="seat-row">
                        <ol class="display__flex flex-justify__center">

                            <li class="seat"></li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--04">
                                    <span>
                                        <img id="img--04" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--04" class="seat-num">04</label>
                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--06">
                                    <span>
                                        <img id="img--06" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--06" class="seat-num">06</label>
                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--09">
                                    <span>
                                        <img id="img--09" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--09" class="seat-num">09</label>
                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--12">
                                    <span>
                                        <img id="img--12" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--12" class="seat-num">12</label>
                                </div>
                            </li>

                        </ol>
                    </li>

                    <!-- Fila 4 -->
                    <li class="seat-row">
                        <ol class="display__flex flex-justify__center">

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--00">
                                    <span>
                                        <img id="img--00" src="/assets/img/asiento.png">
                                    </span>

                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--03">
                                    <span>
                                        <img id="img--03" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--03" class="seat-num">03</label>
                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--05">
                                    <span>
                                        <img id="img--05" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--05" class="seat-num">05</label>
                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--08">
                                    <span>
                                        <img id="img--08" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--08" class="seat-num">08</label>
                                </div>
                            </li>

                            <li class="seat">
                                <div role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="seat--11">
                                    <span>
                                        <img id="img--11" src="/assets/img/asiento.png">
                                    </span>
                                    <label id="seat--11" class="seat-num">11</label>
                                </div>
                            </li>

                        </ol>
                    </li>
                    <li class="seat-row display__flex flex-justify__center" id="seat-desc">
                        <div class="legend-selected display__flex flex_vertical-align__center">
                            <img alt="Seleccionado" src="/assets/img/seleccionado.png">
                            <span class="text">Seleccionado</span>
                        </div>

                        <div class="legend-occupied display__flex flex_vertical-align__center">
                            <img alt="Ocupado" src="/assets/img/ocupado.png">
                            <span class="text">Ocupado</span>
                        </div>

                        <div class="legend-free display__flex flex_vertical-align__center">
                            <img alt="Disponible" src="/assets/img/asiento.png">
                            <span class="text">Disponible</span>
                        </div>

                    </li>
                </div>
            </ol>
        </div>
    </div>
</div>

<a onclick="M.toast()"></a>