<nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb">Viajes</a>
        <a href="#!" class="breadcrumb">Asientos</a>
        <a href="#!" class="breadcrumb">Pago</a>
      </div>
    </div>
  </nav>