<div id="containerTable" class="card mx-basic my-basic hide">

    <div class="pasajeros">
        <div class="space">
            <p>Pasajeros</p>
        </div>
        <div class="space">
            <i id="iconMenos" class="material-icons">remove_circle_outline </i>
        </div>
        <div class="space">
            <p id="iconValor">1</p>
        </div>
        <div class="space">
            <i id="iconMas" class="material-icons">add_circle_outline </i>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <table>
                <thead>
                    <th>
                        <tr>
                            <td>Compañia</td>
                            <td>#</td>
                            <td>Horario</td>
                            <td>Terminal Salida</td>
                            <td>Terminal Destino</td>
                            <td>Precio</td>
                        </tr>
                    </th>
                </thead>
                <tbody id="data">
                </tbody>
            </table>
        </div>
    </div>
</div>